{% extends "header.html" %}

{% block title %}Дисциплины препоадвателя{% endblock %}

{% block content %}
<h1>Преподаватель</h1>
<div>
    <h2>{{ teacher.first_name }} {{ teacher.last_name }} {{ teacher.patronymic }}</h2>
    <div>{{ teacher.bio }}</div>
    <div>
        {{ teacher.publications}}
    </div>
</div>
<h2>Список преподаваемых дисциплин</h2>
<div>
    {% for c in courses %}
        <h3>{{ c.name }}</h3>
        <div>{{ c.description }}</div>
        <div>{{ c.learning_outcomes }}</div>
    {% endfor %}
    <a href="{% url 'index' %}">К списку преподавателей</a>
</div>
{% endblock %}